{% extends "template.html" %}


{% block script %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

{% endblock %}


{% block content %}

    <div class="container standard-content-container">

        <h1>Contact us</h1>


        <p class="text lg">
            We operate across all of Edinburgh and take on jobs big and small. Our prices are competitive and offer free quotes. So why not get in touch?
        </p>


        <div class="contact-info-item" style="margin-top:20px">
            <i class="fa fa-phone fa-lg fa-fw" class=""></i>
            <span>07751225769</span>
        </div>

        <div class="contact-info-item">
            <i class="fa fa-envelope fa-lg fa-fw"></i>
            <span>
                <a href="mailto:info@mcneillheatingsolutions.com">info@mcneillheatingsolutions.com</a>
            </span>
        </div>

        <div class="contact-info-item">
            <i class="fa fa-facebook fa-lg fa-fw"></i>
            <span>
                <a href="http://www.facebook.com/mcneilheatingsolutions" target="_blank">www.facebook.com/McNeillHeatingSolutions</a>
            </span>
        </div>

    </div>

{% endblock %}