{% extends "template.html" %}


{% block script %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

{% endblock %}


{% block content %}

    <div class="container standard-content-container">

        <h1>Contact us</h1>


        <p class="text lg">
            We operate across all of Edinburgh and take on jobs big and small. Our prices are competitive and we offer free quotes. So why not get in touch?
        </p>


        <div class="contact-info-item" style="margin-top:20px">
            <i class="fa fa-phone fa-lg fa-fw" class=""></i>
            <span>0776 359 2480</span>
        </div>

        <div class="contact-info-item">
            <i class="fa fa-envelope fa-lg fa-fw"></i>
            <span>
                <a href="mailto:info@mcneillheatingsolutions.com">info@mcneillheatingsolutions.com</a>
            </span>
        </div>

        <div class="contact-info-item">
            <i class="fa fa-facebook fa-lg fa-fw"></i>
            <span>
                Click <a href="https://www.facebook.com/McNeill-Heating-Solutions-622122834596945" target="_blank">here</a> to view our Facebook page
            </span>
        </div>

        <div class="contact-info-item" style="margin-top:20px">
            <a href="http://www.gassaferegister.co.uk" target="_blank"><img src="/static/images/other/gas-safe.png" alt="gas-safe" /></a>
            <!--<span>Gas Safe registration number: <a href="http://www.gassaferegister.co.uk/registersearch/Engineers.aspx?businessid=133411&centreid=0&returnurl=../CheckBusiness.aspx&returnname=Check%20a%20business&reload=true" target="_blank">568751</a></span>-->
            <span>Gas Safe registration number: 568751</span>

        </div>
    </div>

{% endblock %}