{% extends "template.html" %}


{% block top_content %}

    <div class="container" style="background:white;border-bottom:solid 2px #c3c3c3;">

        <div class="jumbotron" style="background:#FFFFFF;border-radius:0px;padding-top:35px;padding-bottom:20px">
            <h1 style="font-size:55px">Heating services you can trust</h1>
            <p class="jumbo-descr">Gas safe engineers and all work fully guaranteed. Wide range of services provided. Free quotes - so why not give us a call?</p>
        </div>

    </div>

{% endblock %}


{% block content %}

    <div class="container" style="padding-left:25px;padding-right:25px;padding-top:18px;padding-bottom:12px;background:#ebebec;">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin, purus id sagittis luctus, tellus lorem dapibus tellus, et sollicitudin nibh orci a quam. Maecenas facilisis sit amet est quis pharetra. Aliquam vel quam ipsum. Phasellus at laoreet sem, vel consequat sem. Donec finibus hendrerit turpis blandit tempus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec placerat metus metus, quis sagittis magna gravida sit amet. Praesent gravida ligula in ipsum suscipit pretium. Phasellus viverra semper tellus in dapibus. Fusce auctor sapien feugiat velit lacinia semper. Aenean magna odio, interdum vel laoreet pharetra, tincidunt a nunc.</p>
        <p class="text">Etiam tempor tempus tempor. Integer eget facilisis est, et vestibulum magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris a aliquam risus. Phasellus sodales consequat convallis. Aenean turpis nunc, auctor eu ligula sit amet, imperdiet aliquam felis. Etiam vulputate augue et justo condimentum, convallis pretium lorem faucibus. Suspendisse elementum dui eget faucibus interdum. Cras sed imperdiet risus. Maecenas tincidunt urna varius pulvinar pellentesque. Vivamus vestibulum rutrum ullamcorper. In lobortis porttitor eros, eu laoreet felis consequat eget. Sed consequat ex in ex sagittis, nec efficitur neque maximus. Cras vel efficitur velit. Aenean vulputate sem eu consectetur consequat. Aliquam erat volutpat.</p>
    </div>

{% endblock %}