{% extends "template.html" %}

{% block content %}

<div class="container standard-content-container">

    {% if mode == 'boiler_installation' %}
        <h1>Boiler Installation</h1>

        <div>
            <div class="services-img-container">
                <!--https://www.worcester-bosch.co.uk/products/boilers/directory/greenstar-i-->
                <img src="/static/images/other/worchester-greenstar.jpg" alt="Boiler" />
            </div>

            <p class="text">
                We can arrange all boiler installation from system upgrade to straight combi swaps.
            </p>
        </div>
    {% endif %}

    {% if mode == 'boiler_servicing' %}
        <h1>Boiler Servicing</h1>

        <div>
            <div class="services-img-container">
                <!--http://www.glow-worm.co.uk/homeowner/products/energy-combi-21760.en_gb.html-->
                <img src="/static/images/other/glowworm-energy.jpg" alt="Boiler" />
            </div>

            <p class="text">
                We can undertake all boiler servicing and maintenance to your heating system.
            </p>
        </div>
    {% endif %}

    {% if mode == 'plumbing' %}
        <h1>Plumbing</h1>

        <div>
            <div class="services-img-container">
                <!--http://www.mirashowers.co.uk/onlinecatalog/detail.htm?productNumber=Excel%20Biv-->
                <img src="/static/images/other/mira-excel.jpeg" alt="Boiler" />
            </div>

            <p class="text">
                Anything from a tap washer to replacing  taps and repairing  leaks.
            </p>
        </div>
    {% endif %}

    {% if mode == 'bathroom_installation' %}
        <h1>Bathroom Installation</h1>

        <div>
            <div class="services-img-container">
                <img src="/static/images/other/boiler.jpg" alt="Boiler" />
            </div>

            <p class="text">
                From replacing existing bathroom furniture to installing a new bathroom suite.
            </p>
        </div>
    {% endif %}

    {% if mode == 'other_services' %}
        <h1>Other Services</h1>

        <div>
            <p class="text">
                All plumbing and heating issues undertaken. These are some of the additional services we provide:
            </p>
            <ul>
                <li>todo</li>
                <li>todo</li>
                <li>todo</li>
                <li>todo</li>
            </ul>
        </div>
    {% endif %}







    <!--<div class="">-->
        <!--<div style="float:left">-->
            <!--<img src="/static/images/other/boiler.jpg" alt="Boiler" />-->
        <!--</div>-->

        <!--<p class="text">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin,-->
            <!--purus id sagittis luctus, tellus lorem dapibus tellus, et sollicitudin nibh orci a quam. Maecenas facilisis-->
            <!--sit amet est quis pharetra. Aliquam vel quam ipsum. Phasellus at laoreet sem, vel consequat sem. Donec-->
            <!--finibus hendrerit turpis blandit tempus.-->
        <!--</p>-->
    <!--</div>-->


</div>

{% endblock %}