{% extends "template.html" %}


{% block content %}

<div class="container standard-content-container">

    <h1 style="margin-bottom: 30px;">Testimonials</h1>

    <div class="testimonialContainer">
        <p class="testimonialQuote">"John replaced our boiler recently. My wife and I were unsure what type of boiler we needed but John was able to give us lots of expert advice. His price was very reasonable and I would recommend him to anyone."</p>

        <p class="testimonialPerson">- Jonathan Stewart, July 2015</p>
    </div>

    <hr class="testimonialHr"/>

    <div class="testimonialContainer">
        <p class="testimonialQuote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin,
            purus id sagittis luctus, tellus lorem dapibus tellus, et sollicitudin nibh orci a quam. Maecenas facilisis
            sit amet est quis pharetra. Aliquam vel quam ipsum. Phasellus at laoreet sem, vel consequat sem. Donec
            finibus hendrerit turpis blandit tempus."</p>

        <p class="testimonialPerson">- Joe Bloggs, September 2015</p>
    </div>

    <hr class="testimonialHr"/>

    <div class="testimonialContainer">
        <p class="testimonialQuote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin,
            purus id sagittis luctus, tellus lorem dapibus tellus, et sollicitudin nibh orci a quam. Maecenas facilisis
            sit amet est quis pharetra. Aliquam vel quam ipsum. Phasellus at laoreet sem, vel consequat sem. Donec
            finibus hendrerit turpis blandit tempus."</p>

        <p class="testimonialPerson">- Jane Bloggs, October 2015</p>
    </div>

    <hr class="testimonialHr" style="margin-bottom: 10px;"/>

</div>

{% endblock %}