{% extends "template.html" %}


{% block content %}

<div class="container standard-content-container">

    <h1 style="margin-bottom: 30px;">Testimonials</h1>

    <div class="testimonialContainer">
        <p class="testimonialQuote">
            "John replaced our boiler recently. My wife and I were unsure what type of boiler we needed but John was able to give us lots of expert advice. His price was very reasonable and I would recommend him to anyone."
        </p>

        <p class="testimonialPerson">- Jonathan Stewart, July 2015</p>
    </div>
    <hr class="testimonialHr"/>

    <div class="testimonialContainer">
        <p class="testimonialQuote">
            "McNeill Heating Solutions recently replaced my gas boiler and upgraded the radiators throughout my home.
            I would just like to say how pleased I am with the quality of workmanship. Everything was completed very professionally and on time. I was also very pleasantly surprised to get a new central thermostat and carbon monoxide monitor included in my price. And though every room was worked in, everything was left pristine on completion.
            A big thank you to McNeill Heating Solutions. I'll certainly use this company again for all my plumbing and heating needs, and would highly recommend."
        </p>

        <p class="testimonialPerson">- Julie Robertson, September 2015</p>
    </div>
    <hr class="testimonialHr"/>

    <div class="testimonialContainer">
        <p class="testimonialQuote">
            "I can recommend McNeill Heating Solutions, extremely professional, knowledgeable and helpful.
            My boiler stopped working, and they attended quickly, providing me with various repair/replacement options to suit my needs and my budget.
            I opted for a new boiler which was installed and operating in next to no time, I’ll definitely use them for future boiler servicing as well."
        </p>

        <p class="testimonialPerson">- Graeme Swanson, September 2015</p>
    </div>
    <hr class="testimonialHr"/>

    <div class="testimonialContainer">
        <p class="testimonialQuote">
            "I have used John McNeill over a number of years and found him to be very easy to deal with. His work is always competitively priced and it is a pleasure to deal with him."
        </p>

        <p class="testimonialPerson">- Greg McNicoll, October 2015</p>
    </div>
    <hr class="testimonialHr" style="margin-bottom: 10px;"/>

</div>

{% endblock %}